<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Botones Editar</title>
    <meta charset="UTF-8">
</head>
<body>

<section th:fragment="botonesEditar">
    <div id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 d-grid">
                    <a th:href="@{/}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3 d-grid">
                    <button type="submit" class="btn btn-submit">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
                <div class="col-md-3 d-grid">
                    <a th:href="@{/eliminar/} + ${persona.id}" class="btn btn-delete">
                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>